<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @kase.name %>
</p>

<p>
  <b>Type:</b>
  <%= @kase.type %>
</p>

<p>
  <b>Created at:</b>
  <%= @kase.created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%= @kase.updated_at %>
</p>

<%= link_to 'Edit', edit_kase_path(@kase) %> |
<%= link_to 'Back', kases_path %>
